header {
  height: 75px;
}

.description {
  padding: 50px 30px 50px 30px;
  margin: 30px 80px;
  border-bottom: 1px solid green;
}
.description img {
  width: 50%;
  max-width: 320px;
  max-height: 340px;
}
.description p {
  font-size: 1.2rem;
  max-width: 400px;
  margin-left: 50px;
  width: 50%;
}

footer {
  height: 60px;
  justify-content: space-evenly;
  flex-direction: row;
}
footer p {
  font-size: 1rem;
  font-weight: 400;
}
.contact a img {
  width: 30px;
  height: 30px;
}
